<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.name %>
    </title>
</head>

<body>
    <h1>
        <%= user.name %>
    </h1>
    <ul>
        <li>
            Email : <%= user.email %>
        </li>
        <li>
            Mobile : <%= user.phone %>
        </li>
    </ul>
    <a href="/user/<%= user._id %>/edit"">
        <button>
            Edit
        </button></a>

    <form action=" /user/<%=user._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
        </form>
</body>

</html>